header, h1 {
  font-display: center;
}

header, img {
    background-size: cover;
    
} 

body {

  background-color: darkgreen;
  color: beige;
  font-size: large;

}

.forms {
  font-size: medium;
  color: beige
}

  .btn-whatsapp {
    right: 10px;
    width: 80px;
    height: 60px;
    position: fixed;
    bottom: 20px;

  }

  #btnwpp {
    width: 80px;
    height: 60px;

  }

  .caixa-pai-receita{
    position: relative;
    left:70%;
    background-color: darkred;
    
    border-radius: 10px;
    width: 280px;
    height: 200px;
    bottom: 200px;
  }

  .caixa-filho-receita{
    position:absolute;
    background-color: beige;
    border-radius: 2px;
    padding: 80px;
    width:240px;
  }